In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
data_path = os.path.join(os.getcwd(), 'OIDv4_ToolKit', 'OID', 'csv_folder')
data_path

'C:\\Users\\Jonathan Santoso\\workspace3\\Personal Projects\\Amenity detection\\OIDv4_ToolKit\\OID\\csv_folder'

In [3]:
os.listdir(data_path)

['class-descriptions-boxable.csv',
 'test-annotations-bbox.csv',
 'train-annotations-bbox.csv',
 'validation-annotations-bbox.csv']

In [4]:
# only keep images that are relevant
class_desc = pd.read_csv(os.path.join(data_path,os.listdir(data_path)[0]), header = None)
class_desc.columns = ['Code', 'Label']

test = pd.read_csv(os.path.join(data_path,os.listdir(data_path)[1]))
train = pd.read_csv(os.path.join(data_path,os.listdir(data_path)[2]))
val = pd.read_csv(os.path.join(data_path,os.listdir(data_path)[3]))

In [5]:
class_desc

            Code       Label
0      /m/011k07    Tortoise
1    /m/011q46kg   Container
2      /m/012074      Magpie
3      /m/0120dh  Sea turtle
4      /m/01226z    Football
..           ...         ...
596     /m/0qmmr  Wheelchair
597   /m/0wdt60w  Rugby ball
598      /m/0xfy   Armadillo
599     /m/0xzly     Maracas
600     /m/0zvk5      Helmet

[601 rows x 2 columns]

In [6]:
airbnb_classes = ['Bathtub', 'Bed', 'Billiard table', 'Ceiling fan', 'Coffeemaker', 'Couch', 'Countertop', 'Dishwasher',
                  'Fireplace', 'Fountain', 'Gas stove', 'Jacuzzi', 'Kitchen & dining room table', 'Microwave oven',
                  'Mirror', 'Oven', 'Pillow', 'Porch', 'Refrigerator', 'Shower', 'Sink', 'Sofa bed', 'Stairs', 
                  'Swimming pool', 'Television', 'Toilet', 'Towel', 'Tree house', 'Washing machine', 'Wine rack']

airbnb_classes = class_desc[class_desc['Label'].isin(airbnb_classes)]
airbnb_classes

           Code                        Label
9     /m/0130jx                         Sink
27    /m/0162_1                        Towel
30    /m/0174k2              Washing machine
92    /m/01lynh                       Stairs
130   /m/0220r2                     Fountain
143  /m/0271qf7                    Wine rack
150   /m/029bxz                         Oven
153   /m/02crq1                        Couch
161   /m/02f9f_                       Shower
194   /m/02wg_p                   Tree house
197  /m/02wv84t                    Gas stove
219   /m/034c16                       Pillow
230   /m/03dnzn                      Bathtub
244   /m/03ldnb                  Ceiling fan
245  /m/03m3pdh                     Sofa bed
257   /m/03ssj5                          Bed
259   /m/03tw93                    Fireplace
269   /m/040b_t                 Refrigerator
294   /m/04m6gz                        Porch
296   /m/04p0qw               Billiard table
317    /m/054_l                       Mirror
345   /m/065h6l                      Jacuzzi
380    /m/07c52                   Television
401   /m/07xyvk                  Coffeemaker
429    /m/09g1w                       Toilet
441   /m/0b3fp9                   Countertop
444    /m/0b_rs                Swimming pool
522    /m/0fx9l               Microwave oven
543  /m/0h8n5zk  Kitchen & dining room table
577    /m/0ky7b                   Dishwasher

In [7]:
train = train[train['LabelName'].isin(airbnb_classes['Code'])]
test = test[test['LabelName'].isin(airbnb_classes['Code'])]
val = val[val['LabelName'].isin(airbnb_classes['Code'])]

In [8]:
train.head()

,ImageID,Source,LabelName,Confidence,XMin,XMax,YMin,YMax,IsOccluded,IsTruncated,IsGroupOf,IsDepiction,IsInside
638,0000615b5a80f660,xclick,/m/0b3fp9,1,0.100000,0.701875,0.508333,0.622500,1,0,0,0,0
639,0000615b5a80f660,xclick,/m/0b3fp9,1,0.781875,0.999375,0.494167,0.894167,0,0,0,0,0
640,0000615b5a80f660,xclick,/m/0fx9l,1,0.875625,0.999375,0.260833,0.358333,0,1,0,0,0
780,0000727e23603def,xclick,/m/04m6gz,1,0.029375,0.883125,0.710000,0.999167,0,1,0,0,0
781,0000727e23603def,xclick,/m/04m6gz,1,0.419375,0.708750,0.403333,0.508333,0,0,0,0,0

In [9]:
train = pd.merge(train, class_desc, left_on = 'LabelName', right_on = 'Code')
test = pd.merge(test, class_desc, left_on = 'LabelName', right_on = 'Code')
val = pd.merge(val, class_desc, left_on = 'LabelName', right_on = 'Code')

train.drop(['Code'], axis = 1, inplace = True)
test.drop(['Code'], axis = 1, inplace = True)
val.drop(['Code'], axis = 1, inplace = True)

In [10]:
train.head()

,ImageID,Source,LabelName,Confidence,XMin,XMax,YMin,YMax,IsOccluded,IsTruncated,IsGroupOf,IsDepiction,IsInside,Label
0,0000615b5a80f660,xclick,/m/0b3fp9,1,0.100000,0.701875,0.508333,0.622500,1,0,0,0,0,Countertop
1,0000615b5a80f660,xclick,/m/0b3fp9,1,0.781875,0.999375,0.494167,0.894167,0,0,0,0,0,Countertop
2,00011aec5d7324f4,xclick,/m/0b3fp9,1,0.305625,0.994375,0.620915,0.999066,0,0,0,0,0,Countertop
3,0003fd45db1c5906,xclick,/m/0b3fp9,1,0.259804,0.998366,0.243464,0.436274,0,0,0,0,0,Countertop
4,0003fd45db1c5906,xclick,/m/0b3fp9,1,0.465686,0.996732,0.341503,0.818627,1,1,0,0,0,Countertop

In [11]:
train.to_csv('train_labels.csv', encoding='utf-8', index=False)
test.to_csv('test_labels.csv', encoding='utf-8', index=False)
val.to_csv('val_labels.csv', encoding='utf-8', index=False)